<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    {% set meta_description = description if description else "…" %}

    <!-- Primary Meta Tags -->
    <title>{{ title }} – {{ title_suffix if title_suffix else "Mamma’s Ricette" }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ meta_description }}">

    {% set pageUrl = page.url | url | absoluteUrl(global.url) %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ pageUrl }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ meta_description }}">
    <meta property="og:image" content="{{ socialImage }}">
    <meta property="og:image:width" content="1440">
    <meta property="og:image:height" content="720">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ pageUrl }}">
    <meta property="twitter:title" content="{{ title }}">
    <meta property="twitter:description" content="{{ meta_description }}">
    <meta property="twitter:image" content="{{ socialImage }}">

    <meta name="author" content="Rob Sterlini">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Eleventy, https://github.com/robsterlini/mammas-ricette">

    {% set inline_code_href = "https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap" %}
    <!-- Technique from https://csswizardry.com/2020/05/the-fastest-google-fonts/ -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style" href="{{ inline_code_href }}" />
    <link rel="stylesheet" href="{{ inline_code_href }}" media="print" onload="this.media='all'" />

    <noscript><link rel="stylesheet" href="{{ inline_code_href }}" /></noscript>
  </head>
  <body class="page">
    {{ content | safe }}
  </body>
</html>
